<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Admin Panel</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/iofrm-theme22.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">QR ADMIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

            </ul>
            <span class="navbar-text">
                <form action="/logout" method="POST">
                    <input type="submit" value="Logout">
                </form>
            </span>
        </div>
    </nav>

    <main role="main" class="container"><br><br><br><br>
         <div class="container">
        <center>
            <h1>Data QR Code</h1>
        </center>
        <div class="table-responsive">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary fa-pull-right mb-2" data-toggle="modal"
                            data-target="#addData">Add Data</button>
                        <table id="tableData" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nama Lengkap</th>
                                    <th scope="col">Asal BPC</th>
                                    <th scope="col">Photo</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each data}}
                                <tr>
                                    <th scope="row">{{inc @key}}</th>
                                    <td>{{data_name}}</td>
                                    <td>{{data_bpc}}</td>
                                    <td>
                                        <a href="assets/images/data_img/{{data_photo}}" data-toggle="lightbox">
                                            <img src="assets/images/data_img/{{data_photo}}" width="60"
                                                class="img-thumbnail">
                                        </a>
                                    </td>
                                    <td>
                                        <button id="btnShowQR" type="button" class="btn btn-primary"
                                            data-qr='{{data_qr}}' data-toggle="modal" data-target="#showQRModal"><i
                                                class="fas fa-eye"></i></button>
                                        <button id="btnEdit" type="button" class="btn btn-success"
                                            data-full-name='{{data_name}}' data-bpc='{{data_bpc}}' data-id='{{data_id}}'
                                            data-current-photo='{{data_photo}}' data-toggle="modal"
                                            data-target="#edtData"><i class="fas fa-edit"></i></button>
                                        <button id="btnDelete" type="button" class="btn btn-danger"
                                            data-id='{{data_id}}'><i class="far fa-trash-alt"></i></button>
                                        <button id="btnDownloadQR" type="button" class="btn btn-warning"
                                            data-qr='{{data_qr}}' data-name='{{data_name}}'><i
                                                class="fas fa-download"></i></button>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="6">
                                        <center>NO DATA</center>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </main>

   
    <div class="modal modal-sm fade" style="margin: 0 auto" id="showQRModal" tabindex="-1" role="dialog"
        aria-labelledby="showQRModal" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Show QR Code</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="align-items: center;" id="output"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-md fade" style="margin: 0 auto" id="addData" tabindex="-1" role="dialog"
        aria-labelledby="addData" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form accept-charset="UTF-8" encType="multipart/form-data" action="/addNewData" method="POST">
                        <div class="mb-3">
                            <label for="txt_fullname" class="form-label">Nama Lengkap</label>
                            <input type="text" class="form-control" name="txt_fullname" id="txt_fullname" required>
                        </div>
                        <div class="mb-3">
                            <label for="txt_asal_bpc" class="form-label">Asal BPC</label>
                            <input type="text" class="form-control" name="txt_asal_bpc" id="txt_asal_bpc" required>
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Photo</label>
                            <input class="form-control" name="file" type="file" id="photo"
                                accept="image/png, image/gif, image/jpeg" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-md fade" style="margin: 0 auto" id="edtData" tabindex="-1" role="dialog"
        aria-labelledby="addData" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form accept-charset="UTF-8" id="frmEdit" encType="multipart/form-data" action="#" method="POST">
                        <div class="mb-3">
                            <label for="txt_fullname" class="form-label">Nama Lengkap</label>
                            <input type="text" class="form-control" name="edt_txt_fullname" id="edt_txt_fullname"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="txt_asal_bpc" class="form-label">Asal BPC</label>
                            <input type="text" class="form-control" name="edt_txt_asal_bpc" id="edt_txt_asal_bpc"
                                required>
                            <input type="hidden" class="form-control" name="edt_current_photo" id="edt_current_photo">
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Photo</label>
                            <input class="form-control" name="file" type="file"
                                accept="image/png, image/gif, image/jpeg" id="photo">
                            <a id="current_img" href="#" data-toggle="lightbox">
                                <img id="current_images" src="#" width="60" class="img-thumbnail">
                            </a>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/jquery.qrcode.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

        $(document).ready(function() {
            $('#tableData').DataTable();
        } );

        $(document).on("click", "#btnShowQR", function () {
            let qrData = $(this).data("qr");
            $('#output').empty();
            $("#output").qrcode(qrData);
        })

        $(document).on("click", "#btnDownloadQR", function () {
            let qrData = $(this).data("qr");
            let name = $(this).data("name");
            $('#output').empty();
            $("#output").qrcode(qrData);

            var canvas = $('#output canvas');
            var img = canvas.get(0).toDataURL("image/png").replace("image/png", "image/octet-stream");
            
            var link = document.createElement('a');
            link.download = `qrCode_${name}.jpg`;
            link.href = img;
            link.click();

        })

        $(document).on("click", "#btnDelete", function () {
            let id = $(this).data("id");
            if (confirm('Are you sure you want to delete this data from database?')) {
                window.location.href = `/deleteData/${id}`
            } else {
                
            }

        })

        $(document).on("click", "#btnEdit", function () {
            let fullname = $(this).data("full-name");
            let bpc = $(this).data("bpc");
            let currentPhoto = $(this).data("current-photo");
            let id = $(this).data("id");

            $("#edt_txt_fullname").val(fullname)
            $("#edt_txt_asal_bpc").val(bpc)
            $("#edt_current_photo").val(currentPhoto)
            $("#current_img").attr("href", `assets/images/data_img/${currentPhoto}`)
            $("#current_images").attr("src", `assets/images/data_img/${currentPhoto}`);
            $("#frmEdit").attr("action", `/editData/${id}`);

        })
    </script>
</body>

</html>