<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRCode System Login</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/iofrm-theme22.css">
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
</head>
<body>
    <div class="form-body without-side">
        <div class="website-logo">
            <a href="/">
                <div class="logo">
                    <img class="logo-size" src="assets/images/logo.png" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="assets/images/graphic3.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        {{#if status}}
                            <div class="alert alert-{{messageType}} alert-dismissible fade show" role="alert">
                            <strong>{{type}}! </strong> {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        {{/if}}                
                        <h3>Login to account</h3>
                        <p>QR Code Generator Admin Panel</p>
                        <form accept-charset="UTF-8" action="/login" method="POST">
                            <input class="form-control" type="text" name="username" placeholder="Username" {{isDisable}} required>
                            <input class="form-control" type="password" name="password" placeholder="Password" {{isDisable}} required>
                            <div class="form-button">
                                <button id="submit" type="submit" class="btn btn-primary" {{isDisable}}>Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/main.js"></script>
</body>

</html>